<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>Marque</td>
            <td>Degrée</td>
            <td>Name</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let beer of beers'>
            <td>{{ beer.brand }}</td>
            <td>{{ beer.degree }}</td>
            <td>{{ beer.name }}</td>
            <td> <button [routerLink]="['/detail', beer.id]" class="btn btn-primary">Editer</button></td>
            <td> <button (click)="delBeer()" class="btn btn-danger">Supprimer</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>